# Modulo 1: Introduzione al coding
Importiamo dapprima le libraries/packages/modules che ci serviranno utilizzando lo **statement** "import":

```
# import [nome del pacchetto] as [shortcut]
```

In [ ]:
from numpy import array
import random as rd

In [ ]:
#print(rd.randint(, ))
print(rd.randint(1,26))

# Parte A: L'unit√† base: il dato

Salvare i dati in memoria: la creazione di **variabili**.  Possiamo visualizzare il contenuto delle variabili create? Certo, con la funzione ` print()`.

In [ ]:
nome    = 'Federica'        # una stringa
print(nome)

I dati possono essere di svariati tipi, **stringhe, variabili numeriche, variabili logiche, liste.**

In [ ]:
eta     = 31              # una variabile numerica
print(eta)

In [ ]:
maggiorenne = eta>18        # una variabile logica
print(maggiorenne)

Alcune **funzioni** semplici:

1.   print()
2.   type()
3.   dir()

Come controlliamo che tipo di dato √® contenuto in una determinata variabile? Con la funzione `type()`.

In [ ]:
type(nome)

In [ ]:
type(eta)

La nostra sessione di lavoro contiene adesso due variabili nuove, "nome" e "eta". Possiamo utilizzare la funzione `dir()` per visualizzare le variabili salvate in memoria.

In [ ]:
dir()

Proviamo a cancellare la variabile nome e a inoltrare nuovamente il comando `dir()`:

In [ ]:
del nome
dir()

Adesso vediamo come si crea una lista:

In [ ]:
mylist = ['Federica', 31]  
print(mylist)

In [ ]:
print(mylist[0])            # esempio di indicizzazione

Delle liste "speciali" che ci consentono di eseguire delle operazioni matematiche sulle nostre variabili: le *arrays*.

In [ ]:
myarray = array([15,30])

print(myarray)
type(myarray)

In [ ]:
myarray/2

In [ ]:
# Ops!
mynewlist = [15,30]
mynewlist/2

Finora abbiamo visto alcune funzioni pre-definite. Proviamo adesso a crearne una noi!

In [ ]:
# Step 1: definisci la funzione
def myage(x):
    print("La mia et√† √®", x)

Abbiamo creato una semplicissima funzione che "stampa" la frase "La mia et√† √® [x]", laddove x √® il **parametro** che passiamo alla funzione.

In [ ]:
# Step 2: applica la funzione
myage(31)

In [ ]:
# Step N: applicala quante volte vuoi!
myage(28)

I comandi condizionali sono quelli che prendono la forma `if [condizione soddisfatta] [fai A] else [fai B (opzionale)]`.

In [ ]:
if eta>18:
  maggiorenne = 1
else:
  maggiorenne = 0
print(maggiorenne)

# Parte B: Un insieme di dati: il database

Per la nostra analisi utilizzeremo il **database** *movies.csv*, contenente un insieme di attori/attrici vincitori di premio Oscar e i film che hanno fatto.

Per prima cosa, carichiamo la libreria che ci serve per aprire e manipolare il database, `pandas` üêº üêº. Successivamente, "leggiamo" il database con la funzione di pandas ```read_csv``` che accetta come input l'"indirizzo" del database, che pu√≤ essere salvato sul computer oppure essere "ospitato" ad un determinato indirizzo sul web, come in questo caso. 

Carichiamo il database e lo memorizziamo all'interno della nostra sessione di lavoro con il nome "movies", che diventa quindi un'altra *variabile* salvata in memoria.

In [ ]:
import pandas as pd
movies = pd.read_csv('https://raw.githubusercontent.com/federicadaniele/PCTOcodingdatascience/main/Modulo1/movies.csv')
dir()

Quali informazioni ci pu√≤ interessare scoprire di questo dataset?


1.   Il nome e numero delle variabili (o colonne)
2.   Il numero di osservazioni (righe)
3.   Il tipo di ciascuna variabile (stringa, numerica, etc)
4.   Se ci sono alcuni dati mancanti

Per cominciare, il nome delle variabili di un database si ottiene con il comando ```.columns()``` applicato al tuo database.

In [ ]:
movies.columns

In [ ]:
print('Quante sono le variabili o colonne?')
len(movies.columns)

In [ ]:
print('Quante sono le osservazioni o righe?')
len(movies)

Se volessimo provare a usare l'indicizzazione e visualizzare soltanto alcune righe del database?

In [ ]:
print(movies.loc[0])

**‚Åâ Domanda ‚Åâ In questo database un'osservazione √® data da cosa?**

Un altro modo per avere una panoramica veloce delle caratteristiche del database √® quello di usare la funzione ```.info()```:

In [ ]:
movies.info()

In [ ]:
print("Diamo una sbirciata ai dati adesso:")
movies.head(100)

In [ ]:
print("Quanti attori ci sono nel database?")
len(pd.unique(movies['name']))

Non sempre i database contengono il dato per tutte le osservazioni/variabili. Ci possono essere delle "celle" mancanti, che si possono facilmente individuare con la funzione  ```.count()```:

In [ ]:
movies.count()

Manipoliamo un po' il database. Ricorda che √® buona pratica prima di iniziare a cambiare il database, di salvarne una copia a parte, in modo da non perdere l'originale.
Proviamo per esempio a:
1.   Eliminare una variabile 
2.   Eliminare un'osservazione

Elimina una variabile: per esempio "category" dato che abbiamo un'altra variabile che ci dice il genere dell'attore/attrice. La funzione da ricordare √® "drop".

In [ ]:
movies_copy = movies     
movies = movies.drop(columns='genres ')
movies.head(100)
# Ops! attenzione a scrivere correttamente il nome delle variabili!

In [ ]:
movies = movies.drop(columns='genres')
movies.head(100)

Adesso proviamo ad eliminare un gruppo di osservazioni, per esempio tutti gli attori che sono nati a New York. Il primo step consiste nel salvare in una variabile tutti gli indici delle righe corrispondenti agli attori nati a New York.

In [ ]:
temp = movies_copy.loc[movies_copy['actbirthplace'] =="New York"].index
print(temp)

Successivamente chiediamo di eliminare tutte le osservazioni con quegli indici:

In [ ]:
movies_copy = movies_copy.drop(movies_copy.loc[movies_copy['actbirthplace'] =="New York"].index)
movies_copy.head()

![end.jpg]()